* { margin: 0; padding: 0; }
body { font-size: 1em; margin: 2% auto; max-width: 54em; }
ul { margin-left: 1em; }
a { color: #009900; }
.Sh { font-size: 1em; padding-top: 1em; padding-bottom: 1em; }
.foot { padding-top: 1em; }
