name: bsd

on:
  push:
    branches:
    - master
    - '*-ci'

jobs:
  build:
    if: github.repository == 'Yubico/libfido2'
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        image: [freebsd/13.x, openbsd/6.9]
    steps:
    - uses: actions/checkout@v2
    - name: dependencies
      run: |
        sudo apt -q update
        sudo apt install -q -y curl jq
    - name: build
      env:
        IMAGE: ${{ matrix.image }}
        SOURCEHUT_TOKEN: ${{ secrets.SOURCEHUT_TOKEN }}
      run: ./.actions/build-bsd
